
body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

a{
    text-decoration: none;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.button_container img{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: 150px;
}



a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}



#btn_cn img{
    width: 60%;

}

#btn_cn img:hover{
    transform: scale(1.2); 
    transition-duration: 0.2s;
    transition-timing-function: ease;
}



#btn_ideo:hover{
    animation: showHide 1s ease-in alternate infinite;
}

#btn_ibm{
    width: 300px;
    height: 200px;
    transition: all .2s;
}

#btn_ibm img{
    width: 200px;
 
    
}


#btn_ibm:hover{
    transform: translateY(50px);
    border: 1px solid #1870C2;
    padding: 20px;
    border-radius: 10px;
}

@keyframes showHide {
    0% {width:100%; opacity: 1;}
    40% {width:0%; opacity: 0;}
    60% {width:0%; opacity: 0;}
    100% {width:100%; opacity: 1;}
}

#btn_coca{
    display: inline-block;
    position: relative;
  
    padding: 42px 20px;
    background-color: #fff;
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20pt;
    letter-spacing: -2px;
    transition: all .2s;
}



a#btn_coca:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 200px;
    background-color: red;
    transition: all .5s;
}

a#btn_coca:hover {
    color: #fff;
}

a#btn_coca:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_coca span {
    position: relative;
    z-index: 10;
}


a#btn_lyft img{
  
    width: 40%;
    transition: transform .7s ease-in-out;
}

a#btn_lyft img:hover{
    transform: rotate(50deg);
}

#btn_harley img{
    
    opacity: .5;
    transition: opacity .7s ease-in-out;
}

#btn_harley img:hover{
    opacity: 1;
}

#btn_kors img{
    transition: transform .7s ease-in-out;
}

#btn_kors img:hover{
    transform:skew(50deg);
}

#btn_samsung{
    color: #14279B;
    background-color: white;
    font-weight: bold;
    
    padding: 20px 50px;
    border-radius: 60px;

    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: background-color .7s ease-in-out;
}

#btn_samsung:hover{
    color: white;
    background-color: #14279B;


    

    
}

#btn_dime img{
    transition: transform .7s ease-in-out;
}

#btn_dime img:hover{
    transform:rotate(520deg);
    
    
}

#btn_nbc img{
    transition: transform .7s ease-in-out;
}

#btn_nbc img:hover{
    
    transform: translate(-50%, -50%);
    transform: rotateY(180deg);
}

#btn_nike{
    font-size: 30pt;
    color: #000;
    transition: color .7s ease-in-out;
    font-weight: bold;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#btn_nike:hover{
    color: #14279B;
}

#btn_mbg img{
    transition: filter .7s ease-in-out;

}

#btn_mbg img:hover{
    filter: drop-shadow(16px 16px 20px green) ;
}

#btn_run img{
    transition: transform .7s ease-in-out;
}

#btn_run img:hover{
    transform: scale(1);
    transform: translate(-50%, -70%);
    box-shadow: 0px 0px 20px #eb1478;
}

#btn_moo{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    color: #2ebd59;
    font-size: 30pt;
    transition: border .3s ease-in-out;
    padding: 40px 20px;
}

#btn_moo:hover{
    border: 3px solid #2ebd59;
}

#btn_fitbit img{
    transition: filter .3s ease-in-out;
}

#btn_fitbit img:hover{
    filter: blur(5px);
}


#btn_kittens img{
    transition: filter .3s ease-in-out;

}

#btn_kittens img:hover{
    filter: invert(75%);
}

#btn_molly img{
    transition: transform .3s ease-in-out;
}

#btn_molly img:hover{
    transform: scale(.8);
}

#btn_newyorker img{
    transition: filter .3s ease-in-out;

}

#btn_newyorker img:hover{
    filter: drop-shadow(16px 16px 20px black);
}

#btn_npr img{
    transition: filter .3s ease-in-out;
}

#btn_npr img:hover{
    filter: hue-rotate(90deg);;

}

#btn_ig{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    color: #2ebd59;
    font-size: 20pt;
    transition: border .3s ease-in-out;
    padding: 20px 40px;
    border-radius: 60px;
    color: #bc1888;
    transition: background .3s ease-in-out;
}

#btn_ig:hover{
    color: white;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}