* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


html{
    color: #960100;
    font-family: 'Crimson Pro', serif;
    background-color: #B1CE00;
    letter-spacing: -.2pt;
}




ul,li{
    text-decoration: none ;
    list-style: none outside none;
}
  
a{
    text-decoration: none;
    color: inherit;
}

img{
    mix-blend-mode: luminosity;
}

img:hover{
    mix-blend-mode: normal;
}

.sansserif{
    font-family: interstate, sans-serif;
}

h1{
    margin-top: 3vw;
    font-size: 54pt;
    letter-spacing: -2pt;
}

h3{
    padding: 2.5vw 0 2vw;
}

.left-column{
    width: 50vw;
    height: 100vh;
    
    padding: 0 6vw;
    margin-bottom: 2vw;
    left: 0;
}


.banner-img{
    height: 75vw;
    
    position: fixed;
    right: 0;
    top: 0;
}

.landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-details{
    padding-bottom: 2vw;
}

.intro-details p{
    font-size: 18px;
    padding: 0 1vw;
}

.details-col{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    padding: 3vw 0;
}

.col{
    border-left: 1px solid #960100;
    padding: 2vw 1vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col:last-child{
    border-right: 1px solid #960100;
}

.category{
    padding-bottom: 1vw;
}

.col-stat{
    font-size: 24px;
    
}

.stat-num{
    display: block;
    font-size: 45px;
    line-height: 80%;
}

.scroll{
    display: block;
    width: 15%;
    margin: 0 auto; 
    mix-blend-mode: normal;
}


.ingredients-list{
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.ingredients-list li{
    padding: 1vw 2vw;
    margin: 1vw;
    border: 1px solid #960100;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

ol{
    list-style: none;
    counter-reset: item;
    text-align: center;
    padding: 0 4vw;
}

.steps{
    counter-increment: item;
    position: relative;
    padding: 0 0 3vw;
}

.steps::before{
    content: counter(item);
    color: #B1CE00;
    
    
    position: absolute;
    --size: 40px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    font-family: interstate, sans-serif;
    background: #960100;
    border-radius: 50%;
    text-align: center;

}

.dishes{
    display: flex;
    flex-direction: row;
    padding-bottom: 2vw;
}

.dish{
    width: 50%;
    
}

.dish:first-child{
    margin-right: 2.5vw;
}

.dish img{
    width: 100%;
    padding-bottom: 1vw;
}

h4{
    font-size: 30px;
}

.dish-info{
    float: left;
}
.dish .scroll{
    width: 14%;
    transform: rotate(230deg);
    margin: 0;
    float: right;
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 48px;
    }
    .intro-details p{
        font-size: 16px;
    }
    .category{
        font-size: 12px;
    }
    
    .col-stat{
        font-size: 18px;
        
    }
    
    .stat-num{
        
        font-size: 30px;
        
    }
  }

  @media screen and (max-width: 500px) {
    h1{
        font-size: 42px;
    }
    .intro-details p{
        font-size: 12px;
    }
    .category{
        font-size: 8px;
    }
    
    .col-stat{
        font-size: 14px;
        
    }
    
    .stat-num{
        
        font-size: 24px;
        
    }
    h4{
        font-size: 16px;
    }
    .steps::before{
        --size: 20px;
        font-size: 12px;
    }

    .steps{
        font-size: 12px;
    }

  }